@font-face {
    font-family: 'Noto Sans KR';
    src: url(/src/fonts/NotoSansKR/NotoSansKR-Bold.woff2),
         url(/src/fonts/NotoSansKR/NotoSansKR-Light.woff2),
         url(/src/fonts/NotoSansKR/NotoSansKR-Medium.woff2),
         url(/src/fonts/NotoSansKR/NotoSansKR-Regular.woff2),
         url(/src/fonts/NotoSansKR/NotoSansKR-Thin.woff2)

}
@font-face {
    font-family: 'Kayak';
    src: url(/src/fonts/Kayak/kayak_light.woff2),
         url(/src/fonts/Kayak/kayak_light_italic.woff2),
         url(/src/fonts/Kayak/kayak_regular.woff2),
         url(/src/fonts/Kayak/kayak_regular_italic.woff2),
         url(/src/fonts/Kayak/kayak_bold.woff2),
         url(/src/fonts/Kayak/kayak_bold_italic.woff2)

}
@font-face {
    font-family: 'Jost';
    src: 
         url(/src/fonts/Jost/Jost-300-Light.woff2),
         url(/src/fonts/Jost/Jost-300-LightItalic.woff2),
         url(/src/fonts/Jost/Jost-500-Medium.woff2),
         url(/src/fonts/Jost/Jost-500-MediumItalic.woff2),
         url(/src/fonts/Jost//Jost-600-Semi.woff2),
         url(/src/fonts/Jost/Jost-600-SemiItalic.woff2)

}
@font-face {
    font-family: 'Kollektif';
    src: 
         url(/src/fonts/kollektif/Kollektif-Bold.ttf),
         url(/src/fonts/kollektif/Kollektif-BoldItalic.ttf),
         url(/src/fonts/kollektif/Kollektif-Italic.ttf),
         url(/src/fonts/kollektif/Kollektif.ttf)
}


