//Palette

//$bg-col: #beaaab;
$bg-col: #89726f;
$block-col: #313131;
$text-col: #000;
$font-col: #ffe6d4;

$caramel: #3e231b;
$dark-caramel: #895d47;
$brown: #4e3822;
$amber: #bf6617;
$black: #000;
$light-caramel: #3c1a09;
$beige: #ab4008;
$orange: #8e1b00;
$black: #000;
$mattebrown: #624540;
$cherry-red: #ff003c;

$darksalmon: #fb4b4e;
//$maroon: #a30b26;
$maroon: #ff003c;
$dark-choc: #220303;
$darkmaroon: #450000;

//Font Weights

$bold: 700;
$semibold: 600;
$medium: 500;
$regular: 400;
$light: 300;
$x-light: 200;
$thin: 100;
